*{
   box-sizing: border-box;
   padding : 0;
   margin : 0;
}

body{
   
}
.the-header{
	background: red;
	height: 80px;
	color : white;
}
.down{
	top :50px;
}


.infos, .in-the-magazine, .navigation{
	margin-top: 15px;
}
.featured{
	margin-top: 5px
}
.opinion,.stories {
	display : flex;
	margin-top: 10px;
}
.opinion img {
  width : 70px;
  height: 70px; 
}
.title-opinion{
	margin-left: 5px;
	margin-top : 5px;
}
.title-opinion p{
	margin-bottom: 0;
}
.conclusion{
	margin-left : -15px ;
	padding :10px 0;
	border-top: 1px solid grey;
	border-bottom : 1px solid grey

}
.col-magazine img{
	margin-right: 2px;
	width : 280px;
}
.last-col-magazine{
	display : flex;
	margin-bottom: 5px;
}
.last-col-magazine img {
	width : 150px;
	height: 80px
}